:root {
  --size: 1.8;
}
.terminal {
  --background: #17202a;
  --link-color: darkblue;
  --animation: terminal-underline;
  --line-thickness: 3;
  --color: rgba(0, 200, 0, 0.99);
  --animation: terminal-glow;
  --glow: 1;
  transition: --color 0.5s linear;
}

@property --color {
  syntax: "<color>";
  inherits: true;
  initial-value: #ccc;
}

.terminal:hover {
  --color: #7d3c98;
}
